<nav class="navbar  bg-secondary p-4 text-white bg-opacity-50 " ></nav>
  <div id="webLogo" style="text-align: center;">
    <img src="images/table.png" alt="photo" width="430">
  </div>
  <div>
    <ul class="nav justify-content-center"  style="font-weight: bold;>
        <li class="nav-item">
          <a class="nav-link front" href="#">Restaurant</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link front" href="#">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link front" href="">Logout</a>
        </li>
      </ul>
  </div>