<%- include('../partials/header'); %> 
<%- include('../partials/navbarCustomer');
%>
<br><br>
<h4 style="text-align:center">Your reservation has been cancelled successfully.</h4>

<%- include('../partials/footer');
%>