<%- include('../partials/header'); %>
<%- include('../partials/navbarVendor'); %>

<div class="my-4 container text-center grey-border">
   <div class="my-4">
      <h1>Find Restaurant By Name</h1>
      <form action="/reservation/list/name" method="POST" class="my-3">
         <input type="text" placeholder="Enter Restaurant Name" name="Name">
         <input type="submit" value="Submit">
      </form>
   </div>
   <!-- <div class="mt-5 mb-4">
    <h1>Find Restaurant By ID</h1>
    <form action="/reservation/list/id" method="POST" class="my-3">
      <input type="text" placeholder="Enter Restaurant Id" name="id">
      <input type="submit" value="Submit">
   </form>
   </div> -->
</div>

  <%- include('../partials/footer.ejs'); %>

