<%- include('./partials/header'); %>
<%- include('./partials/navbarCustomer'); %>
    
  <div class="container">
    <br>
    <h1>Home</h1>
    <p>Hello World!</p>
  </div>
    
<%- include('./partials/footer.ejs'); %>
