<nav class="navbar  bg-secondary p-4 text-white bg-opacity-50 " ></nav>
  <div id="webLogo" style="text-align: center;">
    <a href="/">
      <img src="/images/table.png" alt="photo" width="430">
    </a>
  </div>
  <div>
    <ul class="nav justify-content-center"  style="font-weight: bold;">
        <li class="nav-item" >
          <a class="nav-link front" style="color:darkslategray" href="/">Restaurants</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link front" style="color:darkslategray"href="/reservation/buffer">Account</a>
        </li>
      </ul>
  </div>