<%- include('./partials/header'); %>

    <div class="container">
      <br>
      <h1>Resturant Details</h1>
      <form action="/action_page.php">
        <div class="mb-3 mt-3">
          <label for="name" class="form-label">Name of Restaurant:</label>
          <input type="name" class="form-control" id="Name" placeholder="Enter name" name="Name">
        </div>
        <div class="mb-3 mt-3">
            <label for="comment">Description:</label>
            <textarea class="form-control" rows="5" id="Description" name="Description"></textarea>
          </div>

          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="Email" placeholder="Enter email" name="Email">
          </div>
          <div class="mb-3 mt-3">
            <label for="address" class="form-label">Address:</label>
            <input type="address" class="form-control" id="Address" placeholder="Enter Address" name="Address">
          </div>
          <div class="mb-3 mt-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="phone" class="form-control" id="Phone" placeholder="Enter Phone number" name="Phone">
          </div>
          <div class="mb-3 mt-3">
            <label for="capacity" class="form-label">Capacity:</label>
            <input type="capacity" class="form-control" id="Capacity" placeholder="Enter capacity" name="Capacity">
          </div>
          <div class="mb-3 mt-3">
            <label for="capacity" class="form-label">Images:</label>
            <input type="capacity" class="form-control" id="ImageLinks" placeholder="Enter links seperated by comma" name="ImageLinks">
          </div>
          

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    
<%- include('partials/footer'); %>