<div class="container">
    <h1>Order List</h1> 
  <div class="row">
      <div class="col">
         <table class="table table-striped table-bordered table-hover">
          <thead class="table-primary">
              <tr class="text-center">
                 <th scope="col" >Customer Name</th>
                 <th scope="col" >Party Size</th>
                 <th scope="col">Selected Time</th>
                 <th scope="col">Contact Phone</th>
                 <th scope="col">Order Status</th>
                 <th></th>                 
              </tr>
          </thead>
          <tbody>
              <tr class="text-center">
                <th scope="row"></th>
                <td></td>
                <td> </td>
                <td> </td>
                <td></td>
                <td class="text-center"><a href="" class="btn btn-danger btn-sm edit"><i class="fa-solid fa-pen-to-square"></i> Modify</a></td> 
              </tr>        
    </tbody>
   </table>
      </div>
  </div>
  </div>