<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="/Content/app.css" />
  </head>
  <body>
<div class="container">
    <br>
    <h1>Home</h1>
    <p>Hello World!</p>
</div>
<footer>
    <h4>&nbsp; &copy; Copyright &copy; COMP231 Team 3</h4>
</footer>
</body>
</html>