body {
    
    margin-left: auto;
    margin-right: auto;
}

#webLogo {
    margin-left: auto;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
  }

  .restaurant-img {
    width: 500px;
    height: 350px;
    object-fit: cover;

}

.error-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;

}

.product-detail-container{
    display: flex;
   gap: 40px;
   margin: 40px;
   margin-top: 60px;
   color: #324d67;
  
  }
  .product-detail-image{
    border-radius: 15px;
     background-color: #ebebeb;
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
  .product-detail-image:hover{
    background-color: #F7D7E1;
  
  }

  .small-images-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 0.2em;
  }
  .product-detail-container{
    flex-wrap: wrap;
    }
  .product-detail-container .product-detail-image{
    width: 350px;
    height: 350px;
  }
  .small-image{
    border-radius: 8px;
    background-color: #ebebeb;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
  .product-detail-desc{
    margin:0.5em;
  }
  .product-detail-desc h4{
    margin-top: 10px;
  }
  .product-detail-desc p{
    margin-top: 10px;
  }
  .hoursBox{
    width: 22%;
    border:2px solid lightgray;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding:0.8em;
  }
  .contactBox{
    width: 22%;
    border:2px solid lightgray;
    padding:0.8em;
    margin-bottom: 1em;
  }
  .locationBox{
    width: 22%;
    border:2px solid lightgray;
    padding:0.8em;
  }
